
<div>
    
    <h1>Do you like this beers</h1>
    <br>
    <div class="flex left">

    {{#if randomBeer.image_url}}
<img src={{randomBeer.image_url}} alt="beer">
    {{else}}
<img src="https://beerconnoisseur.com/sites/default/files/styles/beer_page_245w/public/beer/over-the-edge.jpg?itok=RzjOXJlZ" alt="beer">
    {{/if}}
    </div>
       <div class="flex right">
        <h2>Name: {{randomBeer.name}}</h2>
        <p>Tagline: {{randomBeer.tagline}}</p>
        <p>Description: {{randomBeer.description}}</p>
       </div>     

        <br>

</div>
